! *font:                     xft:inconsolatazi4:size=10
! Urxvt
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


! Extensions
URxvt*perl-ext-common:          default,matcher,vtwheel,clipboard
! Looks
! URxvt*font:                     xft:hack:size=10
! URxvt*font:                     xft:meslo:size=9
URxvt*font:                 xft:Fira Code Retina:pixelsize=12:minspace=True, xft:DejaVu Sans:pixelsize=8, xft:Symbola
URxvt*boldFont:             xft:Fira Code Retina:pixelsize=12:minspace=True, xft:DejaVu Sans:pixelsize=8, xft:Symbola
URxvt*scrollBar:                false
! URxvt.internalBorder:           10
! Clickable urls
URxvt.url-select.underline:     true
URxvt.url-launcher:             /usr/bin/firefox
URxvt.matcher.button:           1
! Change keybinding for copy/paste
URxvt*iso14755:                 false
! add copy-past
! add copy-past
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
! URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
! URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.lineSpace: 2


! emacs font
! Emacs.font: DejaVuSansMono-10
! Emacs.font: Hack-12
! Emacs.font: monaco-10

! *.FontBackend: xft,x

! color
! special
*.foreground:   #eceff1
*.cursorColor:  #0c86bd
*.background:   #263238

! black
*.color0:       #263238
*.color8:       #37474f

! red
*.color1:       #ff9800
*.color9:       #ffa74d

! green
*.color2:       #8bc34a
*.color10:      #9ccc65

! yellow
*.color3:       #ffc107
*.color11:      #ffa000

! blue
*.color4:       #0c86bd
*.color12:      #81d4fa

! magenta
*.color5:       #e91e63
*.color13:      #ad1457

! cyan
*.color6:       #009688
*.color14:      #26a69a

! white
*.color7:       #cfd8dc
*.color15:      #eceff1


rofi.font: Inconsolata 20
!           State: 'bg',    'fg',    'bgalt', 'hlbg',  'hlfg'
! rofi.color-normal: #353944, #FFFFFF, #353944, #5294E2, #FFFFFF
rofi.color-normal: #263238, #eceff1, #263238, #0c86bd, #cfd8dc

! 'background', 'border'
rofi.color-window: #263238, #263238


! color into terminal
URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7
