! Font settings
Emacs.font: DejaVuSansMono-12
*.font: xft:ProggyClean:size=12
*.FontBackend: xft,x
*.letterSpace: -2
URxvt.scrollBar: false
! urxvt*depth: 32
! urxvt*background: rgba:0000/0000/0200/c800
URxvt.transparent: true
*shading: 15
! urxvt*depth: 32
! urxvt*background: rgba:0000/0000/0200/c800

! special
*.foreground:   #d0d0d0
*.background:   #151515
*.cursorColor:  #d0d0d0

! black
*.color0:       #000000
*.color8:       #505050

! red
*.color1:       #fb9fb1
*.color9:       #8e0c25

! green
*.color2:       #acc267
*.color10:      #455a07

! yellow
*.color3:       #ddb26f
*.color11:      #7b5211

! blue
*.color4:       #6fc2ef
*.color12:      #115370

! magenta
*.color5:       #e1a3ee
*.color13:      #774682

! cyan
*.color6:       #78ccc6
*.color14:      #1d9389

! white
*.color7:       #b3b1b1
*.color15:      #f5f5f5

!OLD
! ! special
! *.foreground:   #d0d0d0
! *.background:   #151515
! *.cursorColor:  #d0d0d0

! ! black
! *.color0:       #151515
! *.color8:       #505050

! ! red
! *.color1:       #fb9fb1
! *.color9:       #fb9fb1

! ! green
! *.color2:       #acc267
! *.color10:      #acc267

! ! yellow
! *.color3:       #ddb26f
! *.color11:      #ddb26f

! ! blue
! *.color4:       #6fc2ef
! *.color12:      #6fc2ef

! ! magenta
! *.color5:       #e1a3ee
! *.color13:      #e1a3ee

! ! cyan
! *.color6:       #12cfc0
! *.color14:      #12cfc0

! ! white
! *.color7:       #d0d0d0
! *.color15:      #f5f5f5

! desactivate iso-mode
URxvt.iso14755: false
URxvt.iso14755_52: false

! add copy-past
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
